@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 自定义 atom-ui F10 主题
 */
 :root {
    --el-dialog-padding-primary: 0px !important;
    --el-color-primary-light-5: rgba(99,111,255,1);
    --el-color-primary-light-8: rgba(99,111,255,0.2);
  }
  
  :root.dark {
    --el-color-primary-light-5: rgba(126,141,255,1);
    --el-color-primary-light-8: rgba(126,141,255,0.2);
  }
  
  .el-button--primary.is-plain.is-disabled {
    color: var(--el-color-primary-light-8);
  }
  
  .el-skeleton__first-line, .el-skeleton__paragraph {
    margin-top: 6px !important;
  }
  
  .el-skeleton {
    --el-skeleton-color: #F2F5FA;
    --el-skeleton-to-color: #E0E4EA;
  }
  
  .dark .el-skeleton {
    --el-skeleton-color: #2A354E;
    --el-skeleton-to-color: #374152;
  }
  
  /* Tab 新增悬停态 */
  .atom-tabs__nav--block .atom-tab.atom-tab--block-plain:hover {
    background: #F2F5FA !important;
  }
  .atom-tabs__nav--block .atom-tab.atom-tab--block-plain.atom-tab--active:hover {
    background:  #E7EAFA !important;
  }
  /* 黑夜模式 Tab 悬停态 */
  .dark .atom-tabs__nav--block .atom-tab.atom-tab--block-plain:hover {
    background: #2A354E !important;
  }
  .dark.atom-tabs__nav--block .atom-tab.atom-tab--block-plain.atom-tab--active:hover {
    background: #2C375D !important;
  }
  
  /* tag */
  .atom-tag--medium-16 {
    border-radius: 4px !important;
  }
  
  /* checkbox */
  .atom-checkbox__icon {
    width: 12px !important;
    height: 12px !important;
    border-radius: 2px !important;
  }
  
  .atom-checkbox__icon--checked .atom-icon {
    color: var(--atom-color-brand-primary) !important;
  }
  
  .atom-checkbox__label {
    margin-left: 4px !important;
    font-size: 12px !important;
  }
  .atom-checkbox .atom-checkbox__icon:hover {
    border: 1px solid var(--atom-color-brand-primary) !important;
  }
  .atom-checkbox .atom-checkbox__icon--checked:hover {
    border: none !important;
  }
  
  /* radio */
  .atom-radio__label {
    font-size: 12px !important;
  }
  .atom-radio .atom-radio__icon:hover {
    border: 1px solid var(--atom-color-brand-primary) !important;
  }
  .atom-radio .atom-radio__icon--checked:hover {
    border: none !important;
  }

#app {
  height: 100%;
  width: 100%;
  perspective: 100px;
  /* 设置透视距离 */
  perspective-origin: bottom right;
}

.smart-bar {
  transition:
    transform 2s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 2s ease-in-out;
  transform-origin: center center;
  /* transform-style: preserve-3d; */
}


.border-base::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-base-color);
  transform-origin: 0 0;
  pointer-events: none;
}

.border-base-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-card-color);
  transform-origin: 0 0;
  pointer-events: none;
}

.el-overlay {
  position: absolute !important;
}

.el-popper.is-customized {
  padding: 3px 8px;
  background: #636fff;
  color: #fff;
}

.el-popper.is-customized .el-popper__arrow::before {
  background: #636fff;
  right: 0;
}

.dark .el-popper.is-customized {
  padding: 3px 8px;
  background: #7e8dff;
  color: #fff;
}

.dark .el-popper.is-customized .el-popper__arrow::before {
  background: #7e8dff;
  right: 0;
}

.inner-el-message-box .el-overlay-message-box {
  position: relative !important;
}

.share-message-box {
  padding: 0 !important;
  width: 614px !important;
  max-width: none !important;
}

.share-message-box .el-message-box__btns {
  display: none;
}

.share-message-box .el-message-box__message {
  width: 100%;
}


/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  /* background: rgba(255, 255, 255, 0.5); */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 滚动条交汇处 */
::-webkit-scrollbar-corner {
  background: transparent;
}

:root {
  --el-color-primary: #636fff !important;
  --el-color-primary-light-3: #7882ff !important;
  --border-base-color: rgba(224, 228, 234, 1);
  --border-card-color: rgba(255, 255, 255, 1);
}

:root.dark {
  --el-color-primary: #7e8dff !important;
  --el-color-primary-light-3: #8ca0ff !important;
  --border-base-color: rgba(84, 94, 113, 1);
  --border-card-color: rgba(42, 53, 78, 1);
  --el-bg-color: #131C30;

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: #545E71;
    /* -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); */
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(320px);
  opacity: 0;
}

.chat-content,
.no-scrollbar {

  /* 滚动槽 */
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
    /* background: rgba(255, 255, 255, 0.5); */
  }

  /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
}